/****** PLACE YOUR CUSTOM STYLES HERE ******/

#inicio .v-align-transform {
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 40%;
}

@media (max-width: 767px){
    #inicio .v-align-transform {
        top: 0;
        transform: none;
        -webkit-transform: none;
    }
}

/* Grayscale on Hover Image */
img.grayscale {
    filter: grayscale(100%);
    transition: .3s ease;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .3s ease;
    -moz-filter: grayscale(100%);
    -moz-transition: .3s ease;
    -o-filter: grayscale(100%);
    -o-transition: .3s ease;

}
img.grayscale:hover {
    filter: grayscale(0%);
    transition: .3s ease;
    -webkit-filter: grayscale(0%);
    -webkit-transition: .3s ease;
    -moz-filter: grayscale(0%);
    -moz-transition: .3s ease;
    -o-filter: grayscale(0%);
    -o-transition: .3s ease;
}

/* Menu Adjustements */
.menu li a {
    font-size: 13px;
    font-weight: 700;
}
.menu {
    height: 80px;
}
.nav-bar {
    height: 80px;
    max-height: 80px;
    line-height: 80px;
}
@media (max-width: 990px){
    .mobile-toggle i {
        line-height: 80px !important;
    }
    .menu a {
        padding: 8px 0;
    }
    .mobile-toggle {
        border-left: none !important;
    }
}
/*Muestra Títulos en Reveal on Hovers Cuando es Tablet o Movil*/
@media (max-width: 1024px){
    .inner-title {
    opacity: .95;
    }
    .inner-title.hover-reveal:before {
        opacity: 1;
    }
    .inner-title:before {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }
    .inner-title.hover-reveal .title {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
    }
    .fs-vid-background {
        display: block;
    }
    .menu {
        height: auto;
    }
}

/* Featured Boxes en Slider Principal */

.ecity-application {
    display: inline-block;
    min-width: 315px;
    text-align: left;
}
.ecity-application i{
    margin-bottom: 0;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 35px;
}

.ecity-application h5{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 18px;
}

/* Full Width Tabbed Content */

.ecity-tabbed-contet {
    margin-left: -150px;
    margin-right: -150px;
    margin-top: -50px;
    margin-bottom: 85px;
}

@media (max-width: 767px) {
  .ecity-tabbed-contet {
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -50px;
    margin-bottom: 85px;
  }
}

.text-tabs .ecity-tabbed-contet .tab-title:after {
    content: '';
    height: 2px;
    background: #fff;
}

.feature-2 ul i {
    display: inherit;
    width: inherit;
    height: inherit;
    border: inherit;
    text-align: inherit;
    line-height: inherit;
    color: inherit;
    border-radius: inherit;
    margin: inherit;
    margin-bottom: inherit;
    transition: inherit;
    -webkit-transition: inherit;
    -moz-transition: inherit;
}

.feature-2 ul i:hover, .feature-2.filled ul i {
    background: none;
    color: inherit;
}

@media all and (min-width: 768px) {
  .feature-3 {
    min-height: 64px;
  }
}

.ecity-list-item {
    font-size: 18px;
}
@media (max-width: 767px) {
    .ecity-list-item {
        text-align: center !important;
        font-weight: 600;
    }
}

@media (max-width: 767px) {
    #soluciones .icon-sm {
        font-size: 40px;
    }
}
/*.background-image-holder {
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
}*/

#soluciones .ecity-circle-icon {
    border: 1px solid #ffffff;
}
#soluciones .ecity-circle-icon:hover {
    background: #337ab7;
    border: 1px solid #337ab7;
}
